$navColor: #3d4454;
$navColorLight: rgba(#aac0f1, 0.99);

.overlay {
  background-color: rgba($navColor, 0.75);
}

.big {
  font-size: 2.5em;
}

.medium {
  font-size: 1.3em;
}

.huge {
  font-size: 3.5em;
}

.source-sans {
  font-family: 'Source Sans Pro', sans-serif;
}

.slabo {
  font-family: 'Slabo 27px', serif;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}

.pt {
  font-family: 'PT Sans', sans-serif;
}
